
{% import "bootstrap/wtf.html" as wtf %}
<html>
  <head>
{% include 'includes.html' %}
{% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No title defined</title>
    {% endif %}
</head>
<body id="LoginForm">
<div class="container">
<h1 class="form-heading">Welcome to the shop</h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">
  
   <p>Please enter your email and password</p>
   </div>
    <form id="Login" method="POST" action="/login">

        <div class="form-group">


            <!--input type="email" class="form-control" id="inputEmail" placeholder="Email Address"-->
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}

        </div>

        <!--div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Password">

        </div-->
        <div class="forgot">
        <a href="reset.html">Forgot password?</a>
</div>
        <button type="submit" class="btn btn-primary">Login</button>

    </form>
    </div>

</div></div>


</body>
</html>
